ul,
li {
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

.list-content {
    border: 1px #000000;
}

#primary:hover {
    cursor: pointer;
}

.Wrapper {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    background: rgb(95, 192, 211);
    background: linear-gradient(90deg, rgba(95, 192, 211, 1) 0%, rgba(82, 161, 113, 1) 100%);
}

.items {
    width: 400px;
    background: #fffffe;
    box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
    border-top: 10px solid #592C82;
}

.items-head {
    padding-bottom: 5px;
}

.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #592C82;
    font-weight: bold;
    font-size: 20px;
}

.items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #592C82;
}

.items-body-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 18px;
}

.subcat-items-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Open Sans';
}

.subcat-items-content b {
    color: #5FC0D1;
}

.items-body-content:hover {
    border: 1px solid #592C82;
    border-radius: 10px;
}

.subcat-items-content:hover {
    border: 1px solid #5fc0d3;
    border-radius: 10px;
}